### Short Term Reversal

#### Buy prior month worst performing stocks and hold them for one month

In [1]:
import yfinance as yf
import pandas as pd 
import datetime as dt 
import numpy as np 
from pandas.tseries.offsets import MonthEnd

In [2]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
tickers = pd.read_html('https://en.wikipedia.org/wiki/S%26P_100')[2]

tickers

    Symbol                      Name                  Sector
0     AAPL                     Apple  Information Technology
1     ABBV                    AbbVie             Health Care
2      ABT                    Abbott             Health Care
3      ACN                 Accenture  Information Technology
4     ADBE                     Adobe  Information Technology
..     ...                       ...                     ...
96      VZ                   Verizon  Communication Services
97     WBA  Walgreens Boots Alliance        Consumer Staples
98     WFC               Wells Fargo              Financials
99     WMT                   Walmart        Consumer Staples
100    XOM                ExxonMobil                  Energy

[101 rows x 3 columns]

In [4]:
tickers = tickers.Symbol.to_list()

In [7]:
tickers = ['BRK-B' if item == 'BRK.B' else item for item in tickers]

In [8]:
df = yf.download(tickers,start='2009-01-01')

[*********************100%***********************]  101 of 101 completed

In [9]:
df

             Adj Close                                                  \
                  AAPL        ABBV         ABT         ACN        ADBE
Date
2009-01-02    2.775246         NaN   18.816320   26.170950   23.020000
2009-01-05    2.892371         NaN   18.493116   26.287540   23.129999
2009-01-06    2.844665         NaN   17.888865   25.961081   24.219999
2009-01-07    2.783197         NaN   17.790485   26.256451   24.230000
2009-01-08    2.834880         NaN   17.987226   25.992174   24.290001
...                ...         ...         ...         ...         ...
2022-02-18  167.300003  144.029999  116.790001  321.179993  442.559998
2022-02-22  164.320007  145.559998  117.510002  321.109985  438.399994
2022-02-23  160.070007  146.759995  117.250000  313.160004  429.450012
2022-02-24  162.740005  145.270004  118.720001  316.170013  463.820007
2022-02-25  164.850006  149.539993  122.410004  322.510010  465.540009

                                                                        ...  \
                  AIG        AMGN         AMT         AMZN        AVGO  ...
Date                                                                    ...
2009-01-02  23.232784   45.228073   25.069132    54.360001         NaN  ...
2009-01-05  22.820364   45.734100   24.969486    54.060001         NaN  ...
2009-01-06  23.920141   44.729710   25.102346    57.360001         NaN  ...
2009-01-07  22.545416   44.622375   24.130804    56.200001         NaN  ...
2009-01-08  22.682892   45.435081   23.973034    57.160000         NaN  ...
...               ...         ...         ...          ...         ...  ...
2022-02-18  61.730000  220.770004  228.440002  3052.030029  579.989990  ...
2022-02-22  61.610001  221.410004  228.369995  3003.949951  577.460022  ...
2022-02-23  61.540001  221.000000  227.449997  2896.540039  565.190002  ...
2022-02-24  60.380001  219.270004  231.750000  3027.159912  580.000000  ...
2022-02-25  63.160000  227.029999  233.660004  3075.770020  588.010010  ...

             Volume                                                   \
                UNH       UNP      UPS       USB         V        VZ
Date
2009-01-02  4885900   8053600  4233200  10883600  13199200  14848985
2009-01-05  8518900  12520800  3593500  14067200  16600000  36096596
2009-01-06  7423000  13970400  4578400  16001700  32506400  28001608
2009-01-07  8228400  15205600  5222100  16651800  28441600  22727743
2009-01-08  6106900  11008200  5726800  11620300  34683600  17421465
...             ...       ...      ...       ...       ...       ...
2022-02-18  2991100   3316100  2823900   6264900   8118800  20296800
2022-02-22  3029800   4360300  3558300   7458300   9928800  19858400
2022-02-23  2840300   3346900  2836000   8561100   8669900  17841900
2022-02-24  3933000   3944100  3347000  11719500  13463400  30079700
2022-02-25  3314100   2548100  2655100  10009500   8461700  31434600


                 WBA       WFC       WMT       XOM
Date
2009-01-02   5266700  36522300  16054800  35803700
2009-01-05  11938400  43614200  16021300  43340100
2009-01-06   7691300  54222900  19146000  41906100
2009-01-07   8245300  52631000  16782000  35268800
2009-01-08   5904100  52580100  92838800  30817100
...              ...       ...       ...       ...
2022-02-18   4597300  22132900  10364700  23378700
2022-02-22   7622900  26887800   8460300  35947800
2022-02-23   5040400  21860700   7010300  25385000
2022-02-24   8433700  40917600  10572500  46199900
2022-02-25   5698300  27486200   8331100  28294600

[3311 rows x 606 columns]

In [10]:
prices = df['Adj Close']

In [11]:
prices

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMGN,AMT,AMZN,AVGO,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-02,2.775246,NaN,18.816320,26.170950,23.020000,23.232784,45.228073,25.069132,54.360001,NaN,...,22.993856,18.995583,37.778896,18.506413,12.174686,17.191765,18.384691,21.288506,42.273109,49.833118
2009-01-05,2.892371,NaN,18.493116,26.287540,23.129999,22.820364,45.734100,24.969486,54.060001,NaN,...,22.618824,19.723112,37.152706,17.597586,12.261260,16.119768,19.312922,19.911844,41.785179,49.827003
2009-01-06,2.844665,NaN,17.888865,25.961081,24.219999,23.920141,44.729710,25.102346,57.360001,NaN,...,22.085440,20.465811,37.314308,17.407019,13.124700,15.861689,19.219374,19.542850,41.415524,49.015182
2009-01-07,2.783197,NaN,17.790485,26.256451,24.230000,22.545416,44.622375,24.130804,56.200001,NaN,...,21.918755,18.855371,35.960964,17.128510,12.839922,16.063103,19.449636,18.357792,41.060669,47.763847
2009-01-08,2.834880,NaN,17.987226,25.992174,24.290001,22.682892,45.435081,23.973034,57.160000,NaN,...,22.260458,18.673489,35.153011,16.974590,12.703233,16.309849,19.312922,18.251347,37.985180,48.276581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-18,167.300003,144.029999,116.790001,321.179993,442.559998,61.730000,220.770004,228.440002,3052.030029,579.989990,...,467.809998,249.965637,209.360001,57.099998,222.690002,53.830002,46.610001,55.630001,137.990005,77.360001
2022-02-22,164.320007,145.559998,117.510002,321.109985,438.399994,61.610001,221.410004,228.369995,3003.949951,577.460022,...,462.510010,245.069626,208.970001,57.799999,221.320007,53.900002,45.790001,55.279999,136.449997,76.459999
2022-02-23,160.070007,146.759995,117.250000,313.160004,429.450012,61.540001,221.000000,227.449997,2896.540039,565.190002,...,459.619995,243.626694,204.479996,56.650002,215.949997,53.410000,45.459999,53.950001,135.050003,76.769997
2022-02-24,162.740005,145.270004,118.720001,316.170013,463.820007,60.380001,219.270004,231.750000,3027.159912,580.000000,...,455.890015,240.909988,207.190002,55.330002,217.300003,52.590000,45.270000,52.709999,134.529999,75.800003
2022-02-25,164.850006,149.539993,122.410004,322.510010,465.540009,63.160000,227.029999,233.660004,3075.770020,588.010010,...,475.750000,246.410004,209.949997,57.340000,219.270004,54.119999,46.200001,54.110001,136.380005,77.839996

In [12]:
prices.index = pd.to_datetime(prices.index)

In [22]:
#relative price changes accumulated over a month
mtl_ret = prices.pct_change().resample('M').agg(lambda x: (x+1).prod() - 1 )

In [23]:
mtl_ret

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMGN,AMT,AMZN,AVGO,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-31,-0.006832,0.000000,0.042599,-0.062667,-0.161164,-0.242604,-0.070181,0.004968,0.082046,0.000000,...,0.026822,-0.126472,-0.242738,-0.412277,-0.076534,-0.125110,0.072798,-0.370000,-0.175936,-0.063204
2009-02-28,-0.009098,0.000000,-0.146104,-0.075095,-0.135163,-0.671875,-0.107931,-0.040211,0.101496,0.000000,...,-0.306389,-0.137344,-0.020515,-0.035715,0.151384,-0.044861,-0.125855,-0.347821,0.044992,-0.107712
2009-03-31,0.177024,0.000000,0.007605,-0.058239,0.280838,1.380953,0.012058,0.044986,0.133508,0.000000,...,0.066698,0.095682,0.195240,0.024038,-0.019573,0.058535,0.088013,0.176859,0.064051,0.002945
2009-04-30,0.197013,0.000000,-0.114598,0.070571,0.278635,0.380000,-0.021204,0.043707,0.096405,0.000000,...,0.123746,0.195329,0.063389,0.247091,0.168345,0.018824,0.210709,0.405197,-0.032629,-0.020999
2009-05-31,0.079313,0.000000,0.076703,0.016989,0.030347,0.224637,0.030328,0.003463,-0.031421,0.000000,...,0.130952,0.008330,-0.014466,0.053787,0.044015,-0.035596,-0.048678,0.277107,-0.007774,0.046405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-31,0.058657,0.075927,0.095299,0.124829,0.129646,0.076517,-0.026710,0.062394,0.026602,0.096385,...,0.178456,0.231570,0.172268,0.015646,-0.049293,-0.007234,-0.000638,0.102349,0.072033,0.096056
2021-11-30,0.105082,0.005320,-0.024207,-0.003874,0.029968,-0.109832,-0.031020,-0.069121,0.039924,0.041398,...,-0.035290,-0.023861,-0.066145,-0.083320,-0.083387,-0.051330,-0.038006,-0.062461,-0.058827,-0.059342
2021-12-31,0.074229,0.174531,0.119027,0.159905,-0.153452,0.087354,0.131185,0.119905,-0.049252,0.209483,...,0.134073,0.074235,0.080506,0.023315,0.118388,0.033618,0.164286,0.004186,0.033013,0.022560
2022-01-31,-0.015712,0.021496,-0.091164,-0.144864,-0.057772,0.015652,0.009646,-0.140171,-0.102830,-0.119520,...,-0.058888,-0.029294,-0.056592,0.035962,0.043653,0.036785,-0.046012,0.121301,-0.033727,0.241379
2022-02-28,-0.055613,0.092410,-0.039620,-0.087873,-0.128692,0.093680,0.008086,-0.070934,0.028180,0.003636,...,0.006729,0.012541,0.045821,-0.014607,-0.028931,0.016720,-0.062181,0.010278,-0.024533,0.036110

In [16]:
formation = dt.datetime(2009,2,28)
formation

datetime.datetime(2009, 2, 28, 0, 0)

In [24]:
ret_1 = mtl_ret.loc[formation - MonthEnd(1)]
ret_1

AAPL   -0.006832
ABBV    0.000000
ABT     0.042599
ACN    -0.062667
ADBE   -0.161164
          ...
VZ     -0.125110
WBA     0.072798
WFC    -0.370000
WMT    -0.175936
XOM    -0.063204
Name: 2009-01-31 00:00:00, Length: 101, dtype: float64

In [25]:
ret_1.name = 'mtl_ret'

In [26]:
ret_1 = pd.DataFrame(ret_1)
ret_1

       mtl_ret
AAPL -0.006832
ABBV  0.000000
ABT   0.042599
ACN  -0.062667
ADBE -0.161164
...        ...
VZ   -0.125110
WBA   0.072798
WFC  -0.370000
WMT  -0.175936
XOM  -0.063204

[101 rows x 1 columns]

In [27]:
ret_1['decile'] = pd.qcut(ret_1.mtl_ret,10,labels=False)
ret_1

       mtl_ret  decile
AAPL -0.006832       7
ABBV  0.000000       7
ABT   0.042599       9
ACN  -0.062667       6
ADBE -0.161164       2
...        ...     ...
VZ   -0.125110       3
WBA   0.072798       9
WFC  -0.370000       0
WMT  -0.175936       1
XOM  -0.063204       6

[101 rows x 2 columns]

In [28]:
losers = ret_1[ret_1.decile == 0].index
losers

Index(['AIG', 'BAC', 'C', 'CAT', 'COF', 'DD', 'F', 'GE', 'UPS', 'USB', 'WFC'], dtype='object')

In [29]:
losret = mtl_ret.loc[formation,mtl_ret.columns.isin(losers)].mean()
losret

-0.27859367823942766

In [30]:
def reversal(formation):
    ret_1 = mtl_ret.loc[formation - MonthEnd(1)]
    ret_1.name = 'mtl_ret'
    ret_1 = pd.DataFrame(ret_1)
    ret_1['decile'] = pd.qcut(ret_1.mtl_ret,10,labels=False,duplicates='drop')
    losers = ret_1[ret_1.decile == 0].index
    losret = mtl_ret.loc[formation,mtl_ret.columns.isin(losers)].mean()
    return losret

In [33]:
formation_2 = dt.datetime(2009,3,31)
reversal(formation_2)

0.351954010777344

In [34]:
mtl_ret

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMGN,AMT,AMZN,AVGO,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-31,-0.006832,0.000000,0.042599,-0.062667,-0.161164,-0.242604,-0.070181,0.004968,0.082046,0.000000,...,0.026822,-0.126472,-0.242738,-0.412277,-0.076534,-0.125110,0.072798,-0.370000,-0.175936,-0.063204
2009-02-28,-0.009098,0.000000,-0.146104,-0.075095,-0.135163,-0.671875,-0.107931,-0.040211,0.101496,0.000000,...,-0.306389,-0.137344,-0.020515,-0.035715,0.151384,-0.044861,-0.125855,-0.347821,0.044992,-0.107712
2009-03-31,0.177024,0.000000,0.007605,-0.058239,0.280838,1.380953,0.012058,0.044986,0.133508,0.000000,...,0.066698,0.095682,0.195240,0.024038,-0.019573,0.058535,0.088013,0.176859,0.064051,0.002945
2009-04-30,0.197013,0.000000,-0.114598,0.070571,0.278635,0.380000,-0.021204,0.043707,0.096405,0.000000,...,0.123746,0.195329,0.063389,0.247091,0.168345,0.018824,0.210709,0.405197,-0.032629,-0.020999
2009-05-31,0.079313,0.000000,0.076703,0.016989,0.030347,0.224637,0.030328,0.003463,-0.031421,0.000000,...,0.130952,0.008330,-0.014466,0.053787,0.044015,-0.035596,-0.048678,0.277107,-0.007774,0.046405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-31,0.058657,0.075927,0.095299,0.124829,0.129646,0.076517,-0.026710,0.062394,0.026602,0.096385,...,0.178456,0.231570,0.172268,0.015646,-0.049293,-0.007234,-0.000638,0.102349,0.072033,0.096056
2021-11-30,0.105082,0.005320,-0.024207,-0.003874,0.029968,-0.109832,-0.031020,-0.069121,0.039924,0.041398,...,-0.035290,-0.023861,-0.066145,-0.083320,-0.083387,-0.051330,-0.038006,-0.062461,-0.058827,-0.059342
2021-12-31,0.074229,0.174531,0.119027,0.159905,-0.153452,0.087354,0.131185,0.119905,-0.049252,0.209483,...,0.134073,0.074235,0.080506,0.023315,0.118388,0.033618,0.164286,0.004186,0.033013,0.022560
2022-01-31,-0.015712,0.021496,-0.091164,-0.144864,-0.057772,0.015652,0.009646,-0.140171,-0.102830,-0.119520,...,-0.058888,-0.029294,-0.056592,0.035962,0.043653,0.036785,-0.046012,0.121301,-0.033727,0.241379
2022-02-28,-0.055613,0.092410,-0.039620,-0.087873,-0.128692,0.093680,0.008086,-0.070934,0.028180,0.003636,...,0.006729,0.012541,0.045821,-0.014607,-0.028931,0.016720,-0.062181,0.010278,-0.024533,0.036110

In [35]:
returns = []
dates = []
for i in mtl_ret.index[2:]:
    returns.append(reversal(i))
    dates.append(i)

In [36]:
returns

[0.351954010777344,
 0.04911394745933093,
 0.05587047348829574,
 0.035906102548506985,
 0.06959315136999665,
 0.2143752935464023,
 0.05284292948542079,
 -0.020801321164404404,
 0.053069679613312215,
 0.009936470921927657,
 0.023026906539804902,
 0.03177843351466045,
 0.08037110391704766,
 -0.027089444055351346,
 -0.07902423898181578,
 -0.06919690585433723,
 0.0814802080882203,
 0.003998066917644892,
 0.09124293641178773,
 0.015071082756905163,
 0.014910883393966057,
 0.051487348042684046,
 0.027887026066630807,
 0.0043425191446638004,
 -0.022595349101998462,
 0.04308035509340281,
 -0.02120375602252839,
 -0.003570973430650422,
 -0.0516779059520796,
 -0.07479278576902965,
 -0.153374431581904,
 0.1449630833675311,
 -0.018601746636236947,
 -0.019454684088029063,
 0.12189932921715924,
 0.06360029961348547,
 0.04334891259697136,
 -0.033446527386296984,
 -0.11867255850597941,
 0.049020001750228144,
 0.06550141746042731,
 0.07059092216377096,
 0.035483826226562834,
 0.03915319851129485,
 0.05956069337205116,
 0.031259343082050986,
 0.05215243589172703,
 0.0055152557875057994,
 0.027608017103215535,
 0.02219779638019681,
 0.06501048584533058,
 -0.0017107073222396877,
 0.08776417426257344,
 -0.008016728063176366,
 0.0298360262620722,
 0.05009302908203097,
 0.009072502254663455,
 0.08057534669368248,
 -0.02678718819070869,
 0.029279352128341863,
 0.022401881503316217,
 -0.03425166662671399,
 0.07586358433924374,
 0.02161512618854323,
 -0.006708655536243194,
 0.05326693901013402,
 -0.006108377159761,
 -0.004379588442266743,
 0.002887450678920368,
 0.005110567984219424,
 0.0069282856076431565,
 0.10057695708485585,
 -0.011074748802674578,
 0.09306651514511573,
 0.05158376621844159,
 -0.03466168262788232,
 -0.02241862544087522,
 -0.0468921786078752,
 -0.05436827501461334,
 0.09879664437362642,
 0.0013110694879259503,
 0.01885021227232694,
 -0.09192546710079719,
 0.006719401370217678,
 0.07566421957988988,
 0.04264733362657139,
 0.045050855345038075,
 0.003448306138224343,
 0.0698405167390495,
 0.002818230903765227,
 -0.014156432925251261,
 -0.007373437458063706,
 0.034429631150858155,
 0.03735299618284394,
 0.012187014208213736,
 0.032028264875833365,
 0.013754684280060013,
 -0.0067770650610090985,
 0.02654246306112779,
 0.028147198123768525,
 0.03510805182907024,
 0.010252992058378292,
 0.01099608092247497,
 -0.01307441716787595,
 0.023904367951889258,
 0.0010473347453579882,
 0.01744829597247184,
 -0.04530508944738594,
 -0.039732266858820676,
 0.007389246955648455,
 0.010199705480740773,
 0.024037416217169552,
 0.04613777268482103,
 0.010832388644355852,
 -0.0030775229636075467,
 -0.009984432680819711,
 0.040814958053929935,
 -0.08425110359739489,
 0.10761220090427055,
 0.03728173829257476,
 -0.010233467671163095,
 0.005816456840734548,
 -0.07951210840885416,
 0.12492922370608049,
 0.020917203972122357,
 -0.001299563209307908,
 0.07696932744488523,
 0.04618015873290946,
 0.015704021436716977,
 0.038340283161590216,
 -0.03879857490338335,
 -0.10746090731661728,
 -0.229155495616937,
 0.12965168744847402,
 0.03032771508973551,
 0.03826153489511092,
 0.07465423431522371,
 0.03257699683969091,
 -0.03221561604728975,
 -0.018632580332208663,
 0.18734818197624092,
 0.015964184621194966,
 0.02714242994431525,
 0.0671033377332356,
 0.04965122988400033,
 0.04148603038502558,
 0.05621192637203732,
 0.018880404994371523,
 -0.019698922936392253,
 0.0034705901333392393,
 -0.007431353817233174,
 0.05248858155875875,
 -0.05216204645038214,
 0.05559889922886571,
 -0.08121522576174756,
 -0.0479183334805507]

In [37]:
frame = pd.DataFrame({'dates':dates,'returns':returns})

In [38]:
frame

         dates   returns
0   2009-03-31  0.351954
1   2009-04-30  0.049114
2   2009-05-31  0.055870
3   2009-06-30  0.035906
4   2009-07-31  0.069593
..         ...       ...
151 2021-10-31  0.052489
152 2021-11-30 -0.052162
153 2021-12-31  0.055599
154 2022-01-31 -0.081215
155 2022-02-28 -0.047918

[156 rows x 2 columns]

In [39]:
frame.returns.mean()

0.0199242256633311

In [41]:
df2 = yf.download('^OEX', start='2009-01-01')['Adj Close']

[*********************100%***********************]  1 of 1 completed

In [42]:
df2

Date
2009-01-02     444.519989
2009-01-05     440.829987
2009-01-06     442.720001
2009-01-07     429.839996
2009-01-08     430.380005
                 ...
2022-02-18    1999.439941
2022-02-22    1977.050049
2022-02-23    1939.510010
2022-02-24    1968.780029
2022-02-25    2010.130005
Name: Adj Close, Length: 3311, dtype: float64

In [43]:
bench_ret = df2.pct_change().resample('M').agg(lambda x: (x+1).prod() - 1)
bench_ret

Date
2009-01-31   -0.119770
2009-02-28   -0.110075
2009-03-31    0.083685
2009-04-30    0.075924
2009-05-31    0.053103
                ...
2021-10-31    0.073047
2021-11-30   -0.002092
2021-12-31    0.036397
2022-01-31   -0.046464
2022-02-28   -0.039415
Freq: M, Name: Adj Close, Length: 158, dtype: float64

In [44]:
frame['S&P100_ret'] = bench_ret[2:].values
frame

         dates   returns  S&P100_ret
0   2009-03-31  0.351954    0.083685
1   2009-04-30  0.049114    0.075924
2   2009-05-31  0.055870    0.053103
3   2009-06-30  0.035906    0.004912
4   2009-07-31  0.069593    0.071219
..         ...       ...         ...
151 2021-10-31  0.052489    0.073047
152 2021-11-30 -0.052162   -0.002092
153 2021-12-31  0.055599    0.036397
154 2022-01-31 -0.081215   -0.046464
155 2022-02-28 -0.047918   -0.039415

[156 rows x 3 columns]

In [45]:
frame[frame.returns > frame['S&P100_ret']].shape

(95, 3)

In [47]:
95/155

0.6129032258064516